/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E2127FF;
    background-alt: #282B31FF;
    foreground:     #FFFFFFFF;
    selected:       rgb(185, 194, 201);
    active:         rgb(110, 165, 71);
    urgent:         rgb(217, 47, 62);
}
